<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" charset="utf-8">
        <title> aaaa</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
        <link rel="stylesheet" href="app.css">
    </head>
        <body>
          <section class="section" id="board">
              <div class="container">
                  <div class="columns">
                      
                      <div class="column status-1">
                          <div class="tag has-addons">
                              <span class="tag">未対応</span>
                            　<span class="tag is-dark">{{ tasksOpen.length }}</span>                              
                          </div>
                          <task-card v-bind:task="task" v-for="task in tasksOpen" v-bind:key="task.name"></task-card>
                      </div>
                      
                      <div class="column status-2">
                          <div class="tag has-addons">
                              <span class="tag">処理中</span>
                            　<span class="tag is-dark">{{ tasksDoing.length }}</span>                              
                          </div>
                        <task-card v-bind:task="task" v-for="task in tasksDoing" v-bind:key="task.name"></task-card>
                      </div>
                      
                      <div class="column status-3">
                          <div class="tag has-addons">
                              <span class="tag">完了</span>
                            　<span class="tag is-dark">{{ tasksClosed.length }}</span>                              
                          </div>
                      <task-card v-bind:task="task" v-for="task in tasksClosed" v-bind:key="task.name"></task-card>
                      </div>
                      
                  </div><!--columns-->
              </div><!--container-->
          </section><!--id="board"-->
          
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js" charset="shif-jis"></script>
        <script type="text/javascript" src="app.js" charset="shif-jis"></script>   
        </body>
    
</html>